<div class="container">
    <div class="datos">
    <label>Nombre: </label>{{this.data.nombre}}
    <label>Apellido Paterno: </label> {{this.data.apPaterno}}
    <label>Apellido Materno: </label> {{this.data.apMaterno}}
    <label>Estatus: </label> {{this.data.estatus}}
    <label>Rol: </label> {{this.data.rol}}
    <label>Celular: </label> {{this.data.celular}}
    <label>Puesto: </label> {{this.data.puesto}}
    <label>Servicio: </label> {{this.data.servicio}}
    <label>Correo: </label> {{this.data.correo}}
    </div>
</div>