

<div class="matCardTop" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content >
          <div class="cabecera-link" >       
            <div > 
            <a  [routerLink]="['/admin/red/repeater/']"  [hidden]="link" class="link2">Repetidoras > </a>
            <a   (click)="regresar ()" [hidden]="link" class="link2" >Contactos > </a>
            <a >Segmentos > </a>
            </div>
        </div>
           <h2>Segmentos</h2>
          
        <div class="barriba">
          <div id="nuevoc">
          <button mat-raised-button color="primary" (click)="nuevoSegmento()"> <mat-icon>add</mat-icon> Nuevo</button>
        </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)" [(ngModel)]="id" placeholder="Buscar coincidencia..." #input>   
            </mat-form-field>
            </div>
        </div>
        <div style="overflow-x: auto;">
          <table mat-table [dataSource]="dataSource"  matSort>          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
              <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="segmento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Segmento</th>
              <td mat-cell *matCellDef="let element">{{element.segmento}}</td>
            </ng-container>
            <ng-container matColumnDef="diagonal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagonal</th>
              <td mat-cell *matCellDef="let element">/{{element.diagonal}}</td>
            </ng-container>
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Tipo</th>
              <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
            </ng-container>
            <ng-container matColumnDef="estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Estatus</th>
              <td mat-cell *matCellDef="let element">{{element.estatus}}</td>
            </ng-container>
            <ng-container matColumnDef="repetear">
              <th mat-header-cell *matHeaderCellDef >repetear</th>
              <td mat-cell *matCellDef="let element"> {{element.repetear}}</td>
            </ng-container>
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef >Opciones</th>
              <td mat-cell *matCellDef="let element"> 
                <button class="menu" mat-button [matMenuTriggerFor]="menu">...</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editarSegmento(element.id,element.nombre,element.segmento,element.diagonal,element.repetear,element.tipo,element.estatus)"><mat-icon>settings</mat-icon>Editar</button>
                  <button mat-menu-item (click)="eliminarSegmento(element.id)"><mat-icon>delete</mat-icon>Eliminar</button> 
                </mat-menu> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
          <div class="existe" [hidden] = "hayClientes()">No se encontraron segmentos registrados... </div>
          <mat-paginator  #paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>
      </mat-card-content>
      </mat-card>
  </div>
  </div>