/*TABLA*/
.tabla{
    overflow-x:auto ;
    width: 100%;
    margin-bottom: 20px;
}

table{
    width: 100%;
}

td.mat-cell.cdk-cell {
    padding-left: 15px;
    padding-right: 15px;
}

/** Sidenav*/
.sidenav-child{
    padding:10px;
    background-color: #f3f3f3;    
}

.sidenav-content {
    display: flex;
    justify-content: space-between;
} 

.sidenav-child mat-card {
    height: 100%;
    overflow: auto;
}

.sidenav-child mat-card mat-divider {
    width: 80%;
    margin-left: 10%;
}

.datoC {
    margin-top: 20px;
}

.input{
    font-size: 12px;
}

/**Datos de imagen*/
.datosPerfil {
    display: flex;
}

.datosPerfil img {
    margin-right: 10px;
}

/** container child */

mat-drawer-container {
    background: #f3f3f3;
    height: 72vh ;
}

/**Dentro del mat-drawer-container */


#navNoDesplagable {
    background: white;
    overflow-y: auto;
    height: 100%;
    padding:20px;
    text-align: center;
    /*box-shadow: 62px 28px 74px 32px;*/

}

mat-form-field {
    width: 145px !important;
}

#box-c {
    overflow-y: auto;
    height: 72vh;
}


/**Comentarios*/

.comentario {
    display: flex;
}

.cuerpo {
    margin: 20px;

}
.img {
    margin: 20px;
}

mat-card {
    height: 100%;
}

button {
    margin-right: 5px;
}

.boton {
    width: 100%;
    text-align: end;
}

.botonesComentarios {
    margin: 3px; 
    background-color: white;
}

#res {
    outline: none;
    border: 2px solid rgb(188, 188, 188);
    background-color: transparent;
    resize: none;
}

.botonRes{
    float: right;
    display: flex;
}

.botonRes #icon{
    margin-right: 5px;
}

.sidenav-dc {
    text-align: center;
}

textarea {
    width: 100%;
}

mat-grid-list {
    margin-bottom: 3px;
    padding-bottom: 15px;
}

.date {
    font-size: x-small;
}
/** buton para abrir contactos*/
.bDato{
    display: flex;
    justify-content: end;
}

/**blockquote*/
blockquote {
    margin: 0px 1rem 1rem;
}

.cabecera {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: inline-block;
}


/**mat-sidenav**/

#sidenavContacto{
    width: 210px;
}

/** PING */
.circulo{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
}

.device{
    display: flex;
    align-items: center;
}

.circulo {
    border: 1px solid black;
    background: grey;
    width: max-content;
    border-radius: 50px;
    padding: 5px;
}

.botonesPrincipales a {
    outline: none;
    text-decoration: none;
    color: white;
    width: 100%;
}
@media (max-width:542px) {
    .botonesPrincipales{
        display: grid;
    }

    .botonesPrincipales button{
        margin-top: 5px;
        width: 100%;
    }

    .cabecera {
        display: block;
    }
    .menu{
        text-align: end;
        margin-bottom: 20px;
        width: 100%;
    }
}