<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
           <h2>Repetidores y Contactos</h2>



           <mat-card>
          <mat-card-content>
            
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-4">
                 Nombre Repetidora:
                </div>
                <div class="col-2">
                  Estatus:
                </div>
                <div class="col-2">
                  Ciudad:
                 </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4">
                  Latitud:
                </div>
                <div class="col-4">
                 Longitud:
                </div>
              </div>
            </div>
      
          </mat-card-content>
</mat-card>
        
          <div class="contenedorTablas row">


            <div id="lista" class="col-md-7" >
                  <h2>Lista de contactos</h2>
                <div class="botoncontainer">  
                  <div class="botonNuevo">
                  <button mat-raised-button color="primary" (click)="Newregister()"> <mat-icon>add</mat-icon> Nuevo</button>
                </div>
                </div>
             <table mat-table  [dataSource]="dataSource" >          
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef >Id</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Id">15</td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef >Nombre</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Nombre">Juan Ruben Garcia Garcia</td>
                </ng-container>
                <ng-container matColumnDef="telefono" >
                  <th mat-header-cell *matHeaderCellDef >Telefono</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Tel.">6861651409</td>
                </ng-container>
                <ng-container matColumnDef="correo" >
                  <th mat-header-cell *matHeaderCellDef >Correo</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Correo">a17490454@itmexicali.edu.mx</td>
                </ng-container>
                <ng-container matColumnDef="estatus" >
                  <th mat-header-cell *matHeaderCellDef >Estatus</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Estatus">Activado </td>
                </ng-container>
                
                <ng-container matColumnDef="opciones" >
                  <th mat-header-cell *matHeaderCellDef >Opciones</th>
                <td mat-cell *matCellDef="let element" data-titulo="Opciones"> 
                    <button class="menu" mat-button [matMenuTriggerFor]="menu">...</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="Newregister()"><mat-icon>settings</mat-icon>Editar</button>
                      <button mat-menu-item ><mat-icon>info</mat-icon>Info</button>  
                      <button mat-menu-item ><mat-icon>lan</mat-icon>Red</button>    
                      <button mat-menu-item ><mat-icon>delete</mat-icon>Eliminar</button> 
                    </mat-menu> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" hidden ></div>
              <div class="existe" hidden>No se encontraron resultados... </div>
              <mat-paginator  #paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            
            </div>

            
          <div id="segmentos" class="col-md-5" > 
                  <h2 >Segmentos declarados</h2>
           <table mat-table [dataSource]="dataSource2" >          
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef >Id</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Id"> 15</td>
                </ng-container>
                <ng-container matColumnDef="seg">
                  <th mat-header-cell *matHeaderCellDef >seg</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Segmento">10.1.1.254</td>
                </ng-container>
                <ng-container matColumnDef="x">
                  <th mat-header-cell *matHeaderCellDef >/x</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Diagonal">/24</td>
                </ng-container>
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef >tipo</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Tipo">local</td>
                    </ng-container>
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef >nom</th>
                  <td mat-cell *matCellDef="let element" data-titulo="Nombre">radios alfareros </td>
                </ng-container>
                
                <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef >Opciones</th>
                <td mat-cell *matCellDef="let element" data-titulo="Opciones"> 
                    <button class="menu" mat-button [matMenuTriggerFor]="menu">...</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="Newregister()"><mat-icon>settings</mat-icon>Editar</button>
                      <button mat-menu-item ><mat-icon>info</mat-icon>Info</button>  
                      <button mat-menu-item ><mat-icon>lan</mat-icon>Red</button>    
                      <button mat-menu-item ><mat-icon>delete</mat-icon>Eliminar</button> 
                    </mat-menu> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table> 
              <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" hidden ></div>
              <div class="existe" hidden>No se encontraron resultados... </div>
            
              <mat-paginator  #paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            </div>
            </div>

         
        
      
      </mat-card-content>
      </mat-card>
  </div>
  