<body>
    <div class="container">
        <div class="containerform">
            <div class="containerfixed">
            <div class="titulo">
                <h1>Centinela - Administrador</h1>
            </div>
            <form method="post">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingresa tu correo</mat-label>
                        <input id="valorCorreo" class = "matInput" matInput placeholder="email@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grupo2">
                    <mat-form-field appearance="fill">
                        <mat-label>Ingresa tu contraseña</mat-label>
                        <input id="valorContra" class = "matInput" matInput [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            <div class="form">
                <button id="btn-iniciar" type="submit" mat-raised-button  (click)="form()">Iniciar sesion</button>
            </div>    
            </form>
            </div>
    </div>
    </div>
    </body>