    <div class="container">
        <h2>Ingrese los datos</h2>
    <div>
    <mat-form-field appearance="standard">
      <mat-label>Empresa</mat-label>
      <input matInput  placeholder="Nombre de empresa" #input>   
    </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
          <mat-label>Nombre corto</mat-label>
          <input matInput  placeholder="Ingrese nombre corto" #input>   
        </mat-form-field>
    </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Estatus</mat-label>
      <select matNativeControl required>
        <option value="volvo2">Seleccione un estatus</option>
        <option value="volvo">Activos</option>
        <option value="saab">Inactivos</option>
        <option value="mercedes">Cerrado</option>
      </select>
    </mat-form-field>
    </div>

    <div style="margin-top: 5%;">
        <button mat-raised-button color="primary">Crear cliente</button>
      </div>
</div>