
<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%" id="tablaCliente">
    <mat-card>
      <mat-card-content>
         <h2>Clientes</h2>
        
        <div class="barriba">
        <div id="nuevoc">
        <button mat-raised-button color="primary" (click)="nuevoCliente()">Nuevo usuario</button>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Estatus</mat-label>
            <mat-select matNativeControl  (selectionChange)="verEstatus($event.value)" required>
              <mat-option value="0" selected disabled>Seleccione un estatus</mat-option>
              <mat-option value="1">Activos</mat-option>
              <mat-option value="2">Inactivos</mat-option>
              <mat-option value="3">Ausente</mat-option>
              <mat-option value="4">Todos</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar coincidencia..." #input>   
          </mat-form-field>
          </div>
      </div>
        <table matTableExporter mat-table [dataSource]="dataSource" id='excel-table' >          
          <ng-container matColumnDef="Empresa">
            <th mat-header-cell *matHeaderCellDef>Empresa</th>
            <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="Nombre Corto">
            <th mat-header-cell *matHeaderCellDef>Nombre corto</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef >Estatus</th>
            <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
          </ng-container>
          <ng-container matColumnDef="Opciones">
            <th mat-header-cell *matHeaderCellDef >Opciones</th>
            <td mat-cell *matCellDef="let element">{{element.opciones}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator  #paginator
        [length]="1"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10]"></mat-paginator>
      
      <div class="babajo">
        
        <div class="import">
          <label class="boton" > 
            Importar
          <input (change)= "onFileChange($event)" style="display: none !important" type="file" multiple="false"/>
          </label>
          </div> 
        <div>
          <button mat-raised-button color="primary" [disabled] = "ELEMENT_DATA.length == 0" (click)="exportexcel()">Exportar</button>
        </div>
      </div>
    </mat-card-content>
    </mat-card>
  </div>
</div>