<body>
    <div class="container">
        <div class="containerform">
            <div class="containerfixed">
                <div class="titulo">
                    <div class="col">
                        <figure>
                    <img class="img-account-profile"  [src]="logo">
                  
                  </figure>
                  </div>
                    <h1>Usuario</h1>
                </div>
                <form [formGroup]="formSesion" >
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label >Ingresa tu correo</mat-label>
                            <input class = "matInput" matInput formControlName= "correo" placeholder="email@example.com" formControlName="correo" >
                            <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="grupo2" >
                        <mat-form-field appearance="fill">
                            <mat-label>Ingresa tu contraseña</mat-label>
                            <input class = "matInput" formControlName= "contrasena" matInput [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="form">
                        <button id="btn-iniciar" type="submit" mat-raised-button  (click)="form()">Iniciar sesion</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</body>