


.col text-center{
    align-self: center !important;
}

body{
    background-image: url("../../../assets/usuario.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.col {
    padding-right: 0;
    background-color: white;
}
  
.col figure img {
    max-width: 100%;

}

/**Definiendo formulario*/

.containerform  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    width: 30%;    
    /*float: right;
    height: 100%;
    width: 40vw;
    background-color: white;
    border-left: 30%; */
}



form {
    text-align: center;
}

.titulo h1 {
    text-align: center; 
    margin-bottom: 10%;
    font-size: 3vw;
}

.grupo2 {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

mat-form-field {
    width: 100%;
}

.login{
    text-align: left;
}

#btn-iniciar{
    background-color: #1338a5;
    color: white;
    width: 100%;
    font-size: 1vw;
}

/*
.mat-form-field-underline {
    background-color: rgb(241, 0, 0) !important;;
}
.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #e91e63 !important;
}  

*/

.mat-icon {
    opacity: 0.5;
    
}
/** Modificando los colores detallistas de angular */
.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
}
.mat-icon-button {
    opacity: 0.5;
    
}

@media (max-width: 1150px) {
    .containerform  {
        width: 40%;
    }

}


@media (max-width: 850px) {
    .titulo h1 {
        font-size: 1rem;
    }

    #btn-iniciar {
        font-size: 10px;
    }

    .containerfixed {
        font-size: 10px;
    }
}

@media (max-height: 279px) {
    .containerform{
    margin-top: 9.5%;

    }
}
