.principal{
    margin-top: 15px;
}


/**Acomodando mat-cards*/
#form {
width: 79%;
}

#sidenav{
width: 20%;
}


.sub-container {
    display: flex;
    justify-content: space-between;
}


/**Orden de inputs/elementos */
.campoAgente {
    margin-left: 5%;
}

mat-form-field{
    width: 100%;
}

.otroBuscador {
    float:right;
}

.campoContacto {
    margin-bottom: 10px;
}

.campoContacto .mat-hint {
    font-size: small;
}

.botonesSolicitud{
    text-align: right;
}


.botonesSolicitud button{
    margin: 4px;
}

/***Navbar*/

#imgDatoExtra {
    width: 70px;
    height: 70px;
    text-align: center;
}

/**Lista nav*/
.iconos {
    display: flex;
    flex-direction: column;
}

.circulo {
    border: 1px solid black;
    background: grey;
    width: max-content;
    border-radius: 50px;
    padding: 5px;
}

.circulo.puntitos{
    padding-left: 8px;
    padding-right: 8px;
}

 li{
    list-style: none;
    font-size: 13px;
 }

ul li {
    background: url('../../../../assets/icon/telephone.svg') no-repeat left top;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 7px;
    }

.dividerLi{
    height: 65px;
    background: #ccc;
    border:0.1px solid #ccc;
    position: absolute;
    margin-left: -25px;
    margin-top: 19px;
}

ul {
    padding-left: 0;
}

/** link de contactos e input*/

 .linkContactoCc{
    float: right;
    font-size: small;
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}
.inputs mat-hint {
    display: flex;
}

.inputs{
    margin-bottom: 10px;
}

.link{
    margin-bottom: 10px;
}

/** PING */
.circulo{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
}

.device{
    display: flex;
    align-items: center;
}


/*cuando disminuye el tamaño de pantalla*/

@media (max-width:1390px) {
    .sub-container {
        display: contents;
        /*flex-flow: column-reverse;*/
    }
    #sidenav {
        width: 100%;
    }
    #form {
        width: 100%;
    }

    .bloques {
        display: flex;
    }
    .bPrincipal {
        width: 33%;
    }
    .bSecundario {
        width: 22%;
    }
}


/**responsive con una resolucion 1852px para abajo px como maximo
y minimo 413px
LINEAS DE la lista de etiquetas*/

@media (max-width:785px) {
    .dividerLi{
        height: 85px;
    }
}

@media (max-width:701px) {
    .dividerLi{
        height: 105px;
    }
}

@media (max-width:688px) {
    .dividerLi{
        height: 125px;
    }
}

@media (max-width:528px) {
    .dividerLi{
        height: 145px;
    }
}