mat-dialog-content{
    text-align: justify;
}


#botones{
    display:flex; 
    justify-content: center;
}

.textarea{
    width:320px;
}

#botones button{
    margin-top: 10%;
    margin-right: 5px;
    margin-left: 5px;
}
