<h2 mat-dialog-title>Ingrese los datos</h2>
<mat-dialog-content class="mat-typography">
  <form >
  <div>
  <mat-form-field appearance="standard">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre del repetidor" #nombre >     
  </mat-form-field>
  <mat-icon>title</mat-icon>  
  </div>
  <div>
      <mat-form-field appearance="standard">
        <mat-label>Segmento</mat-label>
        <input matInput placeholder="Segmento del repetidor" #segmento >    
      </mat-form-field>
  </div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select  matNativeControl [(value)]="data.tipo "required #selectTipo>
      <mat-option value="0" disabled>Seleccione un tipo</mat-option>
      <mat-option value="1">activo</mat-option>
      <mat-option value="2">inactivo</mat-option>
      <mat-option value="3">ausente</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Diagonal</mat-label>
      <mat-select  matNativeControl [(value)]="data.diagonal" required #diagonal>
        <mat-option value="0" disabled>Seleccione un repetidora</mat-option>
        <mat-option value="1">activo</mat-option>
        <mat-option value="2">inactivo</mat-option>
        <mat-option value="3">ausente</mat-option>
      </mat-select>
      
    </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Repetidora</mat-label>
    <mat-select  matNativeControl [(value)]="data.cveRepetdora" required #SelectRepetidora>
      <mat-option value="0" disabled>Seleccione un repetidora</mat-option>
      <mat-option value="1">activo</mat-option>
      <mat-option value="2">inactivo</mat-option>
      <mat-option value="3">ausente</mat-option>
    </mat-select>
    
  </mat-form-field>
</div>
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Estatus</mat-label>
    <mat-select  matNativeControl [(value)]="data.estatus" required #selectEstatus>
      <mat-option value="0" disabled>Seleccione un estatus</mat-option>
      <mat-option value="1">activo</mat-option>
      <mat-option value="2">inactivo</mat-option>
      <mat-option value="3">ausente</mat-option>
    </mat-select>
    
  </mat-form-field>
  </div>
  <div id="botones">
    <button mat-button style="background-color:brown; color: white;" mat-dialog-close>Cancel</button>
    <button mat-button style="background-color:#3f51b5; color: white;" (click)="crearSegment(SelectRepetidora.value,nombre.value,segmento.value,diagonal.value,selectEstatus.value,selectTipo.value)" cdkFocusInitial>
      <ng-container *ngIf="this.data.opc == false; else elseTemplate">
        Crear
      </ng-container>
      <ng-template #elseTemplate>
        Actualizar
      </ng-template>
      </button>
  </div>
  
  </form>

</mat-dialog-content>

