<div class="container">
   <h2></h2>






   <div class="container">
      <div class="row">
        <div class="col-2" style="margin-right: 30px; margin-bottom: 10px;">
         
   <div class="card card-flush border-0 " style="width: 120%;">
    <a href="" style="text-decoration: none; color: black;">
      <div class="card-body" style="text-align: center; height: 120px;">
        <mat-icon style="color: green; width: 100%; font-size: 380%;">add_circle</mat-icon>
        <h5 class="card-title" style="font-size: 150%;" >Alta proveedores</h5>
         
      </div>
    </a>
    </div>
        </div>
        <div class="col-2" style="margin-right: 30px; margin-bottom: 10px;">
         
          <div class="card card-flush border-0 " style="width: 120%;">
             <div class="card-body" style="text-align: center; height: 120px;">
               <mat-icon style="color: blue;width: 100%; font-size: 380%;">list_alt</mat-icon>
 
               <h5 class="card-title" >Catalogo productores</h5>
               <p class="card-text"></p>
             </div>
           </div>
         </div>
       
        
        <div class="w-100"></div>
        <div class="col-2" style="margin-right: 30px; margin-bottom: 10px;">
         
         <div class="card card-flush border-0 " style="width: 120%;" >
            <div class="card-body" style="text-align: center; height: 120px;">
              <mat-icon style="color: rgb(255, 0, 64);width: 100%; font-size: 380%;">local_shipping</mat-icon>

              <h5 class="card-title" >Catalogo proveedores</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-2">
         
         <div class="card card-flush border-0 " style="width: 120%;">
            <div class="card-body"style="text-align: center; height: 120px;">
              <mat-icon style="color: brown;width: 100%; font-size: 380%;">keyboard</mat-icon>
              <h5 class="card-title" style="font-weight: bold;">Captura de moviminetos</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-2" style="margin-right: 30px;">
         
         <div class="card card-flush border-0 " style="width: 120%;">
            <div class="card-body" style="text-align: center; height: 120px;">
              <mat-icon style="color: pink;width: 100%; font-size: 380%;">inventory_2</mat-icon>
              <h5 class="card-title" style="font-weight: bold;">Archivos</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-2">
         
         <div class="card card-flush border-0 " style="width: 120%;">
            <div class="card-body" style="text-align: center; height: 120px;">
              <mat-icon style="color: rgb(196, 184, 17);width: 100%; font-size: 380%;">summarize</mat-icon>
              <h5 class="card-title" style="font-weight: bold;">Reportes</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-2" style="margin-right: 30px; margin-bottom: 10px; margin-left: 5%; margin-top: -20%;">
         
          
                
       <div style="width: 350%;">
        <a class="navbar-brand" [routerLink]="['/admin/dashboard/dashboard-home']" matTooltip="Home">
         
            <figure>
              
      <img class="img-account-profile"  [src]="logo" style="width: 100%;"> 
       
      </figure>

          </a>       
        </div>
        
               </div> 
      </div>
    </div>
  
    <div class="card card-flush border-0 " style=" width: 52.1%; margin-right: 6.5%; float: right;">
<div class="list-group" >
  <h5 class="card-title" style="font-weight: bold; text-align: center; font-size: 120%;">  Lista de movimientos recientes <button type="button" class="btn btn-info" style="margin: 4px;background-color: #92a8bb;border: none;height: 35px;"><mat-icon style="color: #ffffff;">refresh</mat-icon></button></h5>
  <a href="" class="list-group-item list-group-item-action"><li>Se agrego nuevo cliente</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Actualizacion de informacion</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
  <a href="" class="list-group-item list-group-item-action"><li>Nuevo cheque creado</li></a>
</div>

</div>

</div>



     

        