<div class="container">
        <div>
          <h2>Bienvenido </h2>
        </div>
        
        <table class="table table-hover table-striped table-container">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Nombre Corto</th>
              <th>Estatus</th>
              <th>Opciones</th>
            </tr>
          </thead>
            <tbody>
            <tr >
                <td>Redes y asignacion</td> <td>Red 7</td> <td>Activo</td> <td>1234</td>
            </tr>
            <tr>
              <td>Redes y asignacion</td> <td>Red 7</td> <td>Activo</td> <td>1234</td>
            </tr>
            <tr>
              <td>Redes y asignacion</td> <td>Red 7</td> <td>Activo</td> <td>1234</td>
            </tr>
            <tr>
              <td>Redes y asignacion</td> <td>Red 7</td> <td>Activo</td> <td>1234</td>
            </tr>
            <tr>
              <td>Redes y asignacion</td> <td>Red 7</td> <td>Activo</td> <td>1234</td>
            </tr>
            </tbody>
        </table>
</div>
      
