.container {
    text-align: center;
}
mat-dialog-content{
    text-align: center;
}
h2{
    text-align: center;
}

#botones{
    display:flex; 
    justify-content: center;
}

#botones button{
    margin-right: 5px;
    margin-left: 5px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
