<div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">
    <mat-card style="overflow-x: auto;" >
        <div class="col row " >
            <div class="col-md-8" >
                <mat-card class="mat-card2">
                        <mat-card-header class="mat-card-header2">
                            <mat-card-title>Empresa</mat-card-title>
                         
                          </mat-card-header>
                    <mat-card-content >
                    
                        <div class="container " style="display: flex;">
                        <div >
                            <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" style="width: 90px;" >
                        </div>
                        <div style="align-self: flex-end; margin-left: 15px;">
                            <div class=""><b>Empresa:</b> Redes y asesorias</div>
                            <div class=""><b>Estatus:</b> Activo</div>
                            <div class=""><b>Cliente:</b> Red7</div>
                        </div>
                           
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <div class="container">
                            <div class="row">
                                <div class="col-md">Nombre corto: </div>
                                <div class="col-md">Servicio estatus: </div>
                                <div class="col-md">Telefono: </div>
                            </div>
                        
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
           <mat-card class="mat-card2 col-md" >
                        <mat-card-header class="mat-card-header2">
                            <mat-card-title style="margin-top:5%;">Ultimos Tickets</mat-card-title>
                          </mat-card-header>
                <mat-card-content>
                        <table mat-table [dataSource]="dataSourceTickets" class="mat-elevation-z8">
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> id </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                              <th mat-header-cell *matHeaderCellDef> servicio </th>
                              <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTickets"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTickets;"></tr>
                          </table>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="col row">
            <mat-card  class="tablaC col-md-8" style="overflow-x: auto;" >
                <h1>Cliente</h1>
                <mat-tab-group>
                    <mat-tab label="Servicios" >
                        <app-table-service></app-table-service>
                    </mat-tab>
                    <mat-tab label="Tickets">
                        <app-table-tickets></app-table-tickets>
                    </mat-tab>
                    <mat-tab label="Log">
                        <app-table-log></app-table-log>
                    </mat-tab>
                    <mat-tab label="Contactos">
                        <app-table-contact></app-table-contact>
                    </mat-tab>
                    <mat-tab label="R.S.">
                        <app-table-rs></app-table-rs>
                    </mat-tab>
                  </mat-tab-group>
            </mat-card>
            <mat-card class="mat-card2 col-md">
                <mat-card-header class="mat-card-header2">
                    <mat-card-title style="margin-top:5%;">Vendedores</mat-card-title>
                  </mat-card-header>
                    <mat-card-content >
                        <div class="container">
                            <div><b>Datos del vendedor</b></div>
                            <br>
                            <div>Nombre</div>
                            <div>...</div>
                            <div>...</div>
                            <div>...</div>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
    
    </div>
</div>