<div fxLayout="row" style="margin: 1%;" fxLayoutAlign="center none">

    <div fxFlex="100%">
      <mat-card id="mat-principal">
        <mat-card-header>
            <mat-card-title>Dashboard - Tickets</mat-card-title>
        </mat-card-header>
          <div class="mat2 primerFila">
            <mat-card class="cardList" id="top10Empresas" >
                <h3>Top de las 10 empresas con mas tickets</h3>
                <mat-grid-list *ngFor="let com of empresa" cols="4" >
                <div class="seccion">
                    <mat-divider></mat-divider>
                        <div class="cuerpo">
                            <div>Nombre: {{com.nombre}}</div>
                            <div>Servicio: {{com.totalTicket}}</div>
                        </div>
                </div>
                </mat-grid-list>
            </mat-card >
            <div class="responsivePrimerFila">
              <mat-card id="graficaLineal">
                <apx-chart
                [series]="chartOptionsLine.series!"
                [chart]="chartOptionsLine.chart!"
                [xaxis]="chartOptionsLine.xaxis!"
                [dataLabels]="chartOptionsLine.dataLabels!"
                [grid]="chartOptionsLine.grid!"
                [stroke]="chartOptionsLine.stroke!"
                [title]="chartOptionsLine.title!"
              ></apx-chart>
              </mat-card>
              
              <mat-card id="matCalendario">
                <div class="containerCalendar">
                    <div>
                    <div class="botones" [hidden]="oCalendario === false">
                        <button class="btn" id="adelante" [disabled]="ocultarDate === false" (click)="cambiarCalendario()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </button>
                        <button class="btn" id="atras" [disabled]="ocultarDate === true" (click)="cambiarCalendario()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </button>
                       
                    </div>
                    <div id="plusCalendario" (click)="cambiarCalendario()" (click)="otroCalendario()" [hidden]="oCalendario===true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>
                    </div>
                    <div  [hidden]="ocultarDate === true">
                        <mat-calendar [(selected)]="selected" (selectedChange)="cambiarFecha1(selected!)"></mat-calendar>

                    </div>
                    <div  [hidden]="ocultarDate === false">  
                        <mat-calendar [(selected)]="selected2" (selectedChange)="cambiarFecha2(selected2!)"></mat-calendar>

                    </div>
                    <div [hidden]="oCalendario === false"  (click)="otroCalendario()" id="bCalendario">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </div>
                      </div>
                      <div id="fecha"> 
                        <div [hidden]="fechaRango === false" id="dosfechas"> 
                            <div id="fecha1" [style]="ocultarDate === true || selectedFake === '' ? 'border: none;' : 'border: 1px dashed #000; padding:2px; '">{{selected !==undefined?selectedFake:""}} </div> <div> &nbsp;&nbsp;</div> 
                            <div id="fecha2" [style]="ocultarDate === false || selectedFake2 === '' ? ' border: none; ': 'border: 1px dashed #000; padding: 2px; '">{{selected2 !==undefined?selectedFake2:""}}</div>
                        </div>
                        <span  [hidden]="fechaRango === true">{{selected !==undefined?selectedFake:""}}</span>
                    </div>
                    </div>
                    
              </mat-card>
            </div>
          </div>
          <div class="mat2">
            <mat-card class="cardList" id="estadosTickets" >
                <h3>Tickets abiertos, pausados, cerrados</h3>
                <mat-grid-list >
                    <div class="seccion">
                        <mat-divider></mat-divider>
                        <div class="cuerpo">    
                            <div><b>Estado</b>: Abierto</div>
                            <div><b>Total</b>: {{
                                estadoServicio[0]!==undefined && estadoServicio[0].idEstadoTicket===1?estadoServicio[0].totalTicket:
                                estadoServicio[1]!==undefined && estadoServicio[1].idEstadoTicket===1?estadoServicio[1].totalTicket:
                                estadoServicio[2]!==undefined && estadoServicio[2].idEstadoTicket===1?estadoServicio[2].totalTicket:
                                estadoServicio[3]!==undefined && estadoServicio[3].idEstadoTicket===1?estadoServicio[3].totalTicket:0}}</div>
                            <mat-divider></mat-divider>
                            <div><b>Estado</b>: En Progreso</div>
                            <div><b>Total</b>: {{
                                estadoServicio[0]!==undefined && estadoServicio[0].idEstadoTicket===2?estadoServicio[0].totalTicket:
                                estadoServicio[1]!==undefined && estadoServicio[1].idEstadoTicket===2?estadoServicio[1].totalTicket:
                                estadoServicio[2]!==undefined && estadoServicio[2].idEstadoTicket===2?estadoServicio[2].totalTicket:
                                estadoServicio[3]!==undefined && estadoServicio[3].idEstadoTicket===2?estadoServicio[3].totalTicket:0}}</div>
                            <mat-divider></mat-divider>
                            <div><b>Estado</b>: Pausado</div>
                            <div><b>Total</b>: {{
                                estadoServicio[0]!==undefined && estadoServicio[0].idEstadoTicket===3?estadoServicio[0].totalTicket:
                                estadoServicio[1]!==undefined && estadoServicio[1].idEstadoTicket===3?estadoServicio[1].totalTicket:
                                estadoServicio[2]!==undefined && estadoServicio[2].idEstadoTicket===3?estadoServicio[2].totalTicket:
                                estadoServicio[3]!==undefined && estadoServicio[3].idEstadoTicket===3?estadoServicio[3].totalTicket:0}}</div>
                            <mat-divider></mat-divider>
                            <div><b>Estado</b>: Cerrado</div>
                            <div><b>Total</b>: {{estadoServicio[0]!==undefined && estadoServicio[0].idEstadoTicket===4?estadoServicio[0].totalTicket:
                                estadoServicio[1]!==undefined && estadoServicio[1].idEstadoTicket===4?estadoServicio[1].totalTicket:
                                estadoServicio[2]!==undefined && estadoServicio[2].idEstadoTicket===4?estadoServicio[2].totalTicket:
                                estadoServicio[3]!==undefined && estadoServicio[3].idEstadoTicket===4?estadoServicio[3].totalTicket:0}}</div>
                        </div>
                    </div>
                </mat-grid-list>
            </mat-card>
            <div class="responsivePrimerFila">
            <mat-card class="pie" id="pieAgentes">
                <apx-chart class="pieApex"
                [series]="chartOptionsPieAgentes.series!"
                [chart]="chartOptionsPieAgentes.chart!"
                [dataLabels]="chartOptionsPieAgentes.dataLabels!"
                [labels]="chartOptionsPieAgentes.labels!"
                [title]="chartOptionsPieAgentes.title!"
                [theme]="chartOptionsPieAgentes.theme!"
                [responsive]="chartOptionsPieAgentes.responsive!"
              ></apx-chart>
            </mat-card>
            
            <mat-card id="graficaBarra">
                <apx-chart
                [series]="chartOptionsBar.series!"
                [chart]="chartOptionsBar.chart!"
                [dataLabels]="chartOptionsBar.dataLabels!"
                [plotOptions]="chartOptionsBar.plotOptions!"
                [yaxis]="chartOptionsBar.yaxis!"
                [legend]="chartOptionsBar.legend!"
                [fill]="chartOptionsBar.fill!"
                [stroke]="chartOptionsBar.stroke!"
                [tooltip]="chartOptionsBar.tooltip!"
                [xaxis]="chartOptionsBar.xaxis!"
                [title]="chartOptionsBar.title!"
              ></apx-chart>
          </mat-card>
        </div>
        </div>

          <div class="mat2">
            <mat-card id="listaTickets">
                <h3>Lista de tickets</h3>
                <mat-grid-list *ngFor="let com of tickets" cols="4" >
                    <div class="seccion">
                        <mat-divider></mat-divider>
                            <div class="cuerpo">
                                <div>Id: {{com.idTicket}}</div>
                                <div>Servicio: {{com.asunto}}</div>
                                <div>descripcion: {{com.descripcion}}</div>
                                <div>tipo: {{com.tipo}}</div>
                            </div>
                    </div>
                </mat-grid-list>
            </mat-card>
            <mat-card class="pie" id="pieTipos">
                <apx-chart class="pieApex"
                [series]="chartOptionsPieTipos.series!"
                [chart]="chartOptionsPieTipos.chart!"
                [labels]="chartOptionsPieTipos.labels!"
                [title]="chartOptionsPieTipos.title!"
                [theme]="chartOptionsPieTipos.theme!"
                [dataLabels]="chartOptionsPieAgentes.dataLabels!"
                [responsive]="chartOptionsPieTipos.responsive!"
              ></apx-chart>
            </mat-card>
        </div>
        </mat-card>
    </div>
  </div>