<h2 mat-dialog-title> <ng-container *ngIf="data.opc === false; else elseTemplate">
    Crear log
  </ng-container>
  <ng-template #elseTemplate>
    Actualizar log
  </ng-template></h2>
  <mat-dialog-content class="mat-typography">
    <form >
    <div>
    <mat-form-field appearance="standard">
      <mat-label>Empresa</mat-label>
      <input matInput  [value]="data.empresa? data.empresa: '' " placeholder="Nombre de empresa" #empresa > 
    </mat-form-field>
    <mat-icon>title</mat-icon>  
    </div>
    <div>
        <mat-form-field appearance="standard">
          <mat-label>Nombre corto</mat-label>
          <input matInput  [value]="data.nombre? data.nombre: '' " placeholder="Ingrese nombre corto" #nombre>   
        </mat-form-field>
        <mat-icon>title</mat-icon> 
    </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Estatus</mat-label>
      <mat-select  matNativeControl [(value)]="data.estatus "required #select>
        <mat-option value="0" disabled>Seleccione un estatus</mat-option>
        <mat-option value="1">activo</mat-option>
        <mat-option value="2">inactivo</mat-option>
        <mat-option value="3">ausente</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div id="botones">
      <button mat-button style="background-color:brown; color: white;" mat-dialog-close>Cancel</button>
      <button mat-button style="background-color:#3f51b5; color: white;"  cdkFocusInitial>
        <ng-container *ngIf="data.opc === false; else elseTemplate">
          Crear
        </ng-container>
        <ng-template #elseTemplate>
          Actualizar
        </ng-template>
        </button>
    </div>
    </form>
  
  </mat-dialog-content>